*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.container{
    width: 90%;
    height: 400px;
    /* background: rgb(185, 193, 197); */
    background: black;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formula-holder{
    display: flex;
    height: 80px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 20px;
}
.right-side{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
}
.left-side{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.two-sec{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}
.bottom{
    border-top: 2px solid white;
}
.plus-minus{
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    margin: 0 5px;
}
.plus-minus p{
    font-size: 14px;
    display: flex;
}
.plus-minus #m1{
    position: absolute;
    bottom: 6px;
}
.square-root{
    width: 120px;
    border-top: 2px solid white;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-left: 3px;
}
.sq-line-short{
    width: 2px;
    background: white;
    height: 15px;
    margin-right: 1px;
    rotate: -10deg;
}
.sq-line-long{
    width: 2px;
    background: white;
    height: 15px;
    rotate: 15deg;
}
.disp-b2{
    margin-right: 5px;
}
.answer-tab{
    color: white;
    margin-top: 10px;
    display: flex;
}
#answer{
    margin-left: 5px;
}
.input-tabs{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.input-tabs input{
    width: 40px;
    height: 20px;
    margin-bottom: 8px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding-left: 3px;
    font-size: 12px;
}
label{
    color: white;
}
.button-holder{
    margin-top: 10px;

}
.button-holder button{
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    background: rgb(54, 71, 128);
    font-weight: bold;
    cursor: pointer;
}
.button-holder button:hover{
    background: rgb(21, 34, 76);
}
#answer-paragraph{
    font-weight: bold;
    color: rgb(106, 128, 179);
}